.food{
  display: flex;
  flex-wrap: wrap;
  /* height: 250px; */
  align-self: center;

}

.foodImage{
  width: 250px;
  height: 250px;
}

.foodBox{
  width: 40%;
}

.reviewBox{
  width: 40%;
}

.restBox{
  width: 40%;

}
form{
  margin-top: 10px;
}

