button {
  background-color: #CF1716;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.title{
  text-align: center;
  margin-top: 0px;
}


.user{
  display: flex;
  justify-content: flex-end;
}
.button{
  align-items: center;
  display: flex;
}

.topnav {
  background-color: #1959;
  overflow: hidden;
  padding-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(252, 241, 35);
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.notification {
  /* background-color: #1959; */
  color: white;
  text-decoration: none;
  /* padding: 15px 26px; */
  position: relative;
  display: inline-block;
  border-radius: 2px;
  align-self: flex-end;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -1px;
  right: -10px;
  padding: 3px 9px;
  border-radius: 50%;
  background: red;
  color: white;
}

.navLogo{
  position: absolute;
  right: 0px;
  top: 255px;
}

.menuUser{
  color: white;
  padding-right: 50px;
 
}