.img{
  max-width: 300px;
}

.create{
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
  justify-content: space-evenly;
  height: 250px;
}

.foodcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.edit {
  color: grey;
  font-size: 22px;
}

.delete button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.delete button:hover {
  opacity: 0.7;
}