.rest{
  display: flex;
  flex-flow: column wrap;
  align-items: center;

}

.link-btn a {
  background-color: #CF1716;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.link-btn a:hover {
  background-color: #CF1716;
}

a:active {
  background-color: black;
}

